connexion
Flask
flask-login
Flask-Migrate
Flask-SQLAlchemy
greenlet>=1.1.0
psycopg2-binary
SQLAlchemy<1.5
prometheus-flask-exporter
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-jaeger
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
opentelemetry-api
