# FIXME: there was a regression in py-amqp. It was supposed to be fixed in
# https://github.com/celery/py-amqp/pull/350
# but cachito is still being affected by the regression
amqp
backoff
celery>=5.2.2
defusedxml
gitpython
gemlock_parser @ https://github.com/containerbuildsystem/gemlock-parser/archive/a2f0f4020e07b1e87813a3254eb3e40047d8e981.zip
kombu>=5 # A celery dependency but it's directly imported
packaging
pyarn
pyyaml
requests_kerberos>=0.13.0
requests
semver
setuptools
