amqp
backoff
celery>=5.2.2
defusedxml
gitpython
gemlock_parser @ https://github.com/tichavskym/gemlock-parser/archive/88066f2298b60432d292b567459f067403c3eeb6.zip
kombu>=5 # A celery dependency but it's directly imported
packaging
pyarn
pyyaml
requests_kerberos>=0.13.0
requests
semver
setuptools
